@page
@model ITHS_DB_Lab3_Web.Pages.DeleteUserModel
@{
    ViewData["Title"] = "DeleteUser";
}


<h2>Delete user</h2>
<div class="alert alert-danger">
    Are you sure you want to delete @Model.UserData.FirstName?
</div>
<form method="post">
    <input type="hidden" asp-for="UserData.Id" />
    <button type="submit" value="delete" class="btn btn-danger">Yes!</button>
    <a asp-page="Users" class="btn btn-primary">Cancel</a>
</form>
