@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Resource Management Software</h1>
        <p>
            We are IT.INC, our mission is to holisticly reinvent the on-demand meta-services
            and to completely synthesize scalable technologies with distinctively leverage of other's efficient e-services
            while assertively leverage other's fungible deliverables.
        </p>
        <p>
            With our business-focused and solution-oriented workforce, we aim to streamline efficient technologies and
            orchestrate killer supply-chains.
        </p>
        <p>
            Pretty neat stuff.
        </p>
    </div>
