@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Resource Management Tool 459</h1>
    <p>Because we are much better than the other 458 management tools.</p>
</div>
